<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heaven.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity android:name=".activity.login.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--ListView 下拉    -->
        <activity android:name=".activity.listview.ListViewActivity"	android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <!--ListView 侧滑    -->
        <activity android:name=".activity.listview.SlideListViewActivity"	android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <!--GridView 下拉、收缩    -->
        <activity android:name=".activity.listview.GridViewActivity"	android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <!--ListView 下拉、收缩    -->
        <activity android:name=".activity.listview.ExpandableListActivity"	android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <!--FilpperView    -->
        <activity android:name=".view.FilpperView"	android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

    </application>

</manifest>